# Once you change the password, move the file into
# password.private.
#
# It is OK to leave this comment here.

password "replace this text with the password you got; leave the quotation marks here"
